Backline/Resources/HTDemucs6s.mlpackage/** filter=lfs diff=lfs merge=lfs -text
Vendor/lame/*.dylib filter=lfs diff=lfs merge=lfs -text
Backline/Resources/Fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
Backline/Resources/BeatThisSmall.mlpackage/** filter=lfs diff=lfs merge=lfs -text
Vendor/yt-dlp/*.zip filter=lfs diff=lfs merge=lfs -text
Vendor/quickjs/qjs-* filter=lfs diff=lfs merge=lfs -text
